@import "https://fonts.googleapis.com/css2?family=Changa&display=swap";
body {
  direction: ltr;
  font-family: "Changa", sans-serif; }

.clear {
  clear: both; }

.top-header {
  padding: 10px; }
  .top-header .border-bottom {
    padding: 10px;
    border-bottom: 1px solid #ddd; }
  .top-header .info span:first-child {
    padding: 10px 10px 10px 0px;
    border-right: 1px solid #ddd; }
  .top-header .info span:last-child {
    padding: 10px 0px 10px 10px; }
  .top-header .info i {
    color: #1c75bc;
    margin-right: 5px; }
  .top-header .social i {
    color: #555;
    margin-left: 5px;
    transition: all 0.5s ease; }
    .top-header .social i:hover {
      color: #1c75bc; }

.upper-nav {
  padding: 5px; }
  .upper-nav .logo {
    padding: 5px; }
    .upper-nav .logo span {
      font-weight: bold; }
  .upper-nav .login {
    padding-top: 10px; }
    .upper-nav .login ul li {
      padding: 10px;
      display: inline-block; }
      .upper-nav .login ul li .btn-login {
        color: #444; }
        .upper-nav .login ul li .btn-login i {
          font-size: 14px;
          color: #1c75bc;
          margin-right: 5px; }
      .upper-nav .login ul li .btn-rigister {
        border: 2px solid #1c75bc;
        color: #1c75bc; }
        .upper-nav .login ul li .btn-rigister i {
          font-size: 14px;
          color: #1c75bc;
          margin-right: 5px; }
        .upper-nav .login ul li .btn-rigister:hover {
          background-color: #1c75bc;
          color: #fff; }
      .upper-nav .login ul li .btn-add-ads {
        background-color: #1c75bc;
        border: 1px solid #1c75bc;
        color: #fff; }
        .upper-nav .login ul li .btn-add-ads:hover {
          background-color: #fff;
          border: 2px solid #1c75bc;
          color: #1c75bc; }
    .upper-nav .login ul li:last-child {
      border-left: 1px solid #ddd; }
    .upper-nav .login .lang a {
      color: #000;
      text-decoration: none; }

.header-img {
  margin-top: 50px;
  background-image: url("../images/header.jpg");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.search-bar {
  position: absolute;
  top: -10%;
  width: 100%; }
  .search-bar form {
    background-color: #1c75bc;
    padding: 20px;
    border-radius: 8px; }
    .search-bar form img {
      position: absolute;
      top: 33.2%;
      margin-left: 5px;
      width: 2.5%; }
    .search-bar form input,
    .search-bar form select {
      width: 23% !important;
      padding: 12px;
      border: 0;
      border: 1px solid #ddd;
      border-radius: 5px; }
    .search-bar form select {
      background-color: #fff;
      color: #666 !important;
      padding: 5px !important;
      font-size: 15px;
      padding-left: 30px !important; }
    .search-bar form input:first-child {
      width: 30%; }
    .search-bar form button {
      margin-top: -3px;
      height: 43px;
      width: 55px; }

.ads {
  margin-top: 20px; }
  .ads .border-col {
    border: 1px solid #ddd;
    padding: 0; }
  .ads .head {
    text-align: left;
    border: 1px solid #eee;
    background-color: #ddd;
    padding: 10px; }
  .ads .card {
    display: inline-block;
    width: 100%;
    margin-top: 10px; }
    .ads .card img {
      transition: all 0.5s ease-in-out; }
      .ads .card img:hover {
        filter: grayscale(100%); }
    .ads .card .card-body {
      padding: 0 !important; }
    .ads .card .card-title {
      margin: 0;
      padding: 10px 0 0 15px;
      margin-bottom: 5px;
      font-size: 17px; }
      .ads .card .card-title a {
        color: #000 !important;
        text-decoration: none; }
        .ads .card .card-title a:hover {
          color: #1c75bc !important; }
    .ads .card span {
      padding: 0 0 0 15px;
      font-size: 10px;
      color: #333;
      margin-right: 15px; }
      .ads .card span i {
        margin-right: 4px; }
    .ads .card .name {
      padding: 0 0 0 15px;
      color: #1c75bc; }
    .ads .card .key-words {
      padding: 10px 0 10px 15px;
      margin-top: 10px;
      background-color: #ddd; }
      .ads .card .key-words span:first-child {
        padding-left: 0 !important;
        font-size: 15px; }
      .ads .card .key-words .last {
        font-size: 15px;
        color: #1c75bc;
        font-weight: bold;
        position: absolute;
        right: 2%; }
  .ads .swiper-container {
    padding-bottom: 40px !important; }
    .ads .swiper-container .swiper-pagination {
      bottom: -40px !important;
      height: 60px; }

.cards {
  background-color: #f7f7f7;
  padding: 20px 20px 50px 20px; }
  .cards .card {
    margin-top: 10px;
    border: 1px solid #777;
    padding: 20px;
    height: 150px;
    transition: all 4s ease;
    text-decoration: none !important; }
    .cards .card img {
      width: 45%;
      margin: auto;
      color: #555;
      font-size: 30px;
      margin-top: 20px; }
    .cards .card p {
      margin-top: 20px; }
    .cards .card:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      background-color: #1c75bc;
      border: 1px solid #1c75bc; }
      .cards .card:hover p {
        color: #fff !important; }

.ads-now-car-model .ads-now {
  border: 1px solid #ddd; }
  .ads-now-car-model .ads-now .head {
    text-align: left;
    border: 1px solid #eee;
    background-color: #ddd;
    padding: 10px; }
  .ads-now-car-model .ads-now .card {
    background-color: #f6f8fa; }
    .ads-now-car-model .ads-now .card img {
      transition: all 0.5s ease;
      height: 100%; }
      .ads-now-car-model .ads-now .card img:hover {
        filter: grayscale(100%); }
    .ads-now-car-model .ads-now .card .card-title {
      font-size: 18px;
      padding: 20px 0 0 20px;
      color: #000 !important; }
      .ads-now-car-model .ads-now .card .card-title a {
        color: #000 !important;
        text-decoration: none; }
        .ads-now-car-model .ads-now .card .card-title a:hover {
          color: #1c75bc !important; }
    .ads-now-car-model .ads-now .card span {
      display: inline-block;
      margin-right: 25px;
      padding: 20px 0 0 20px;
      color: #666; }
      .ads-now-car-model .ads-now .card span i {
        margin-right: 5px; }
    .ads-now-car-model .ads-now .card .card-body {
      padding: 0; }
  .ads-now-car-model .ads-now .name {
    color: #1c75bc;
    padding: 5px 0 0 20px; }
  .ads-now-car-model .ads-now .key-words {
    background-color: #ddd;
    position: inherit;
    bottom: 0;
    width: 100%;
    padding: 10px !important; }
    .ads-now-car-model .ads-now .key-words span {
      padding-top: 0 !important;
      margin: 0; }
    .ads-now-car-model .ads-now .key-words .last {
      position: absolute;
      right: 2%;
      color: #1c75bc;
      font-weight: bold; }
  .ads-now-car-model .ads-now .card-grow .last {
    color: #1c75bc;
    font-weight: bold; }
  .ads-now-car-model .ads-now .btn-add-more {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px; }
.ads-now-car-model .car-model {
  border: 1px solid #ddd; }
  .ads-now-car-model .car-model .head {
    text-align: left;
    border: 1px solid #eee;
    background-color: #ddd;
    padding: 10px; }
  .ads-now-car-model .car-model .car-model-img img {
    width: 70px;
    height: 70px;
    margin: 5px;
    border: 1px solid #ddd; }
.ads-now-car-model .ads-space {
  margin-top: 60px;
  background-color: #ddd;
  height: 350px;
  position: relative; }
  .ads-now-car-model .ads-space h6 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); }

.ads-and-search .ads-now .card img {
  height: 100% !important; }

.path {
  text-align: left;
  background-color: #ddd;
  padding: 20px; }
  .path span::before {
    font-family: "Font Awesome 5 Free";
    margin-right: 6px;
    margin-left: 6px;
    content: "\f104";
    font-weight: 900;
    font-size: 13px; }
  .path .first::before {
    content: "" !important; }
  .path a {
    text-decoration: none;
    color: #000;
    font-size: 14px; }
    .path a:hover {
      color: #1c75bc; }
  .path i {
    font-size: 13px; }

.login-rigister form .form-input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 0;
  border: 1px solid #ddd; }
.login-rigister form .remember {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px; }
.login-rigister form .btn {
  color: #fff; }
.login-rigister form .btn-login {
  background-color: #1c75bc;
  border: 1px solid #1c75bc; }
.login-rigister form .btn-rigister {
  background-color: #ecb000;
  border: 1px solid #ecb000; }

.contact .contact-info i {
  border: 1px solid #000;
  padding: 10px;
  background-color: #ecb000;
  border: 1px solid #ecb000;
  color: #fff;
  border-radius: 5px; }
.contact .contact-info span {
  font-weight: bold; }
.contact .contact-form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  border: 1px solid #ddd; }
.contact .contact-form textarea {
  width: 100% !important;
  border-radius: 5px;
  border: none;
  border: 1px solid #ddd;
  padding: 10px; }
.contact .contact-form button {
  background-color: #1c75bc;
  border: 1px solid #1c75bc; }

#btnclose {
  background-color: #ddd;
  width: 100% !important;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition: all 1s ease-in-out; }

.search {
  border: 1px solid #ddd; }
  .search h6 {
    border: 1px solid #eee;
    background-color: #ddd;
    padding: 10px; }
  .search form {
    padding: 10px; }
  .search input {
    border-radius: 5px;
    border: 0;
    border: 1px solid #ddd;
    padding: 7px; }
  .search .search-all {
    width: 100%;
    margin-bottom: 5px; }
  .search .country,
  .search .city {
    width: 50%;
    float: left; }
    .search .country select,
    .search .city select {
      width: 90%;
      border: 0;
      background-color: transparent;
      border: 1px solid #ddd;
      padding: 7px;
      border-radius: 5px; }
  .search .price input {
    width: 45%;
    margin: 4px;
    float: left; }
  .search .btn {
    background-color: #51b224;
    border: 1px solid #51b224;
    width: 100%;
    color: #fff;
    font-size: 18px;
    transition: all 0.5s linear; }
    .search .btn:hover {
      background-color: #1c75bc;
      border: 1px solid #1c75bc; }

.ads-now {
  border: 1px solid #ddd; }
  .ads-now .head {
    text-align: left;
    border: 1px solid #eee;
    background-color: #ddd;
    padding: 10px; }
  .ads-now .card {
    background-color: #f6f8fa; }
    .ads-now .card img {
      transition: all 0.5s ease; }
      .ads-now .card img:hover {
        filter: grayscale(100%); }
    .ads-now .card .card-title {
      font-size: 18px;
      padding: 5px 0 0 15px !important; }
      .ads-now .card .card-title a {
        color: #000 !important;
        text-decoration: none; }
        .ads-now .card .card-title a:hover {
          color: #1c75bc !important; }
    .ads-now .card span {
      display: inline-block;
      margin-right: 25px;
      padding: 10px 0 0 20px !important;
      color: #666; }
      .ads-now .card span i {
        margin-right: 5px; }
    .ads-now .card .card-body {
      padding: 0; }
  .ads-now .name {
    color: #1c75bc;
    padding: 5px 0 0 20px; }
  .ads-now .key-words {
    background-color: #ddd;
    position: inherit;
    bottom: 0;
    width: 100%;
    padding: 10px !important; }
    .ads-now .key-words span {
      padding-top: 0 !important;
      margin: 0; }
    .ads-now .key-words .last {
      position: absolute;
      right: 2%;
      color: #1c75bc;
      font-weight: bold; }
  .ads-now .card-grow .last {
    color: #1c75bc;
    font-weight: bold; }
  .ads-now .btn-add-more {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    transition: all 0.5s ease; }
    .ads-now .btn-add-more:hover {
      background-color: #ecb000;
      border: 1px solid #ecb000;
      color: #fff; }

.show-ads .arrow-left-h6:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
  color: #2b79c3;
  font-size: 25px; }
.show-ads .ads-info .swiper-container {
  width: 100%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  position: relative; }
  .show-ads .ads-info .swiper-container .special-ads {
    z-index: 3;
    display: inline-block;
    position: absolute;
    background-color: #68bb2b;
    border: 1px solid #68bb2b;
    width: 15%;
    padding: 10px !important;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    right: 3%;
    top: 2%; }
.show-ads .ads-info .swiper-slider .swiper-slide {
  background-size: cover;
  background-position: center; }
.show-ads .ads-info .swiper-slider .gallery-top {
  height: 80%;
  width: 100%; }
.show-ads .ads-info .swiper-slider .gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0; }
.show-ads .ads-info .swiper-slider .gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4; }
.show-ads .ads-info .swiper-slider .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1; }
.show-ads .ads-info .swiper-slider .swiper-wrapper .image-top {
  height: 70vh; }
.show-ads .ads-info .swiper-slider .swiper-wrapper .image-down {
  height: 20vh; }
.show-ads .ads-info .ads-header .header {
  margin-top: 15px;
  font-size: 20px;
  float: left; }
.show-ads .ads-info .ads-header .price {
  color: #fff;
  padding: 10px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  float: right;
  border: 1px solid #ecb000;
  background-color: #ecb000; }
.show-ads .ads-info .table-infor {
  margin-top: -10px !important;
  border: 1px solid #ddd; }
  .show-ads .ads-info .table-infor .table-head {
    color: #1c75bc; }
  .show-ads .ads-info .table-infor .table {
    margin-bottom: 0 !important; }
  .show-ads .ads-info .table-infor td {
    padding-left: 40px !important; }
    .show-ads .ads-info .table-infor td .question {
      font-size: 15px; }
    .show-ads .ads-info .table-infor td .answer {
      color: #888;
      font-size: 14px; }
  .show-ads .ads-info .table-infor h6 {
    font-size: 25px;
    padding-left: 20px;
    padding-top: 10px;
    color: #1c75bc;
    margin: 10px 0px 20px 0px; }
    .show-ads .ads-info .table-infor h6 i {
      color: #1c75bc;
      font-size: 25px; }
  .show-ads .ads-info .table-infor .table-word {
    margin: 0 !important;
    padding: 0 !important; }
.show-ads .ads-info .descr {
  border: 1px solid #ddd; }
  .show-ads .ads-info .descr h6 {
    font-size: 25px;
    color: #1c75bc;
    padding-left: 20px;
    padding-top: 10px;
    margin: 10px 0px 20px 0px; }
    .show-ads .ads-info .descr h6 i {
      color: #1c75bc;
      font-size: 25px; }
  .show-ads .ads-info .descr .desr-par {
    line-height: 25px;
    color: #444; }
.show-ads .ads-info .contact-data {
  border: 1px solid #ddd; }
  .show-ads .ads-info .contact-data h6 {
    font-size: 25px;
    color: #1c75bc;
    padding-left: 20px;
    padding-top: 10px;
    margin: 10px 0px 20px 0px; }
    .show-ads .ads-info .contact-data h6 i {
      color: #1c75bc;
      font-size: 25px; }
  .show-ads .ads-info .contact-data ul {
    padding: 0;
    padding-left: 20px; }
    .show-ads .ads-info .contact-data ul li {
      display: inline-block;
      margin-right: 20px; }
      .show-ads .ads-info .contact-data ul li i {
        font-size: 20px;
        margin-right: 10px;
        color: #444; }
      .show-ads .ads-info .contact-data ul li span {
        font-size: 20px;
        color: #444; }
.show-ads .ads-info .social-media {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px; }
  .show-ads .ads-info .social-media span {
    margin-top: 35px;
    display: inline-block;
    width: 15%; }
    .show-ads .ads-info .social-media span i {
      color: #888;
      font-size: 30px; }
      .show-ads .ads-info .social-media span i:hover {
        color: #1c75bc; }
.show-ads .ads-info .comments h6 {
  font-size: 25px;
  padding-left: 20px;
  color: #1c75bc;
  padding-top: 10px;
  margin: 10px 0px 20px 0px;
  position: relative; }
  .show-ads .ads-info .comments h6 i {
    color: #1c75bc;
    font-size: 25px; }
.show-ads .ads-info .comments .on-comment {
  border: 1px solid #eee;
  position: relative;
  padding: 15px;
  padding-left: 15px;
  padding-bottom: 2px !important; }
  .show-ads .ads-info .comments .on-comment .com-name {
    font-size: 15px;
    font-weight: bold; }
  .show-ads .ads-info .comments .on-comment .com-word {
    font-size: 14px;
    color: #888; }
  .show-ads .ads-info .comments .on-comment .time {
    position: absolute;
    top: 10%;
    right: 1%;
    font-size: 10px;
    color: #444; }
.show-ads .ads-info .add-comment {
  position: relative;
  margin-top: 40px;
  padding-top: 30px;
  margin-bottom: 20px; }
  .show-ads .ads-info .add-comment::before {
    position: absolute;
    content: "";
    top: -1%;
    width: 100%;
    height: 2px;
    background-color: #eee; }
  .show-ads .ads-info .add-comment .head-comment-add {
    color: #1c75bc;
    width: 15%;
    background-color: #fff;
    border: 1px solid #fff;
    position: absolute;
    top: -5%;
    right: 45%;
    text-align: center;
    font-size: 15px; }
  .show-ads .ads-info .add-comment form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #eee; }
    .show-ads .ads-info .add-comment form input::placeholder {
      font-size: 13px; }
  .show-ads .ads-info .add-comment form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #eee; }
    .show-ads .ads-info .add-comment form textarea::placeholder {
      font-size: 13px; }
  .show-ads .ads-info .add-comment form button {
    border: 1px solid #ecb000;
    background-color: #ecb000;
    color: #fff;
    padding: 10px; }
.show-ads .related-ads .related-d-h6-before::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
  color: #2b79c3;
  font-size: 25px; }
.show-ads .related-ads h6 {
  margin-top: 15px;
  font-size: 25px;
  color: #1c75bc; }
  .show-ads .related-ads h6 i {
    color: #1c75bc;
    font-size: 25px; }
.show-ads .related-ads .card {
  background-color: #f6f8fa; }
  .show-ads .related-ads .card img {
    transition: all 0.5s ease; }
    .show-ads .related-ads .card img:hover {
      filter: grayscale(100%); }
  .show-ads .related-ads .card .card-title {
    font-size: 18px;
    padding: 20px 0 0 20px; }
    .show-ads .related-ads .card .card-title a {
      color: #000 !important;
      text-decoration: none; }
      .show-ads .related-ads .card .card-title a:hover {
        color: #1c75bc !important; }
  .show-ads .related-ads .card span {
    display: inline-block;
    margin-right: 15px;
    padding: 0px 0 10px 20px;
    color: #666;
    font-size: 14px; }
    .show-ads .related-ads .card span i {
      margin-right: 5px; }
  .show-ads .related-ads .card .card-body {
    padding: 0; }
  .show-ads .related-ads .card .key-words {
    background-color: #ddd;
    position: inherit;
    bottom: 0;
    width: 100%;
    padding: 10px !important; }
    .show-ads .related-ads .card .key-words span {
      padding-top: 0 !important;
      margin: 0;
      padding-left: 0 !important;
      font-size: 12px;
      text-align: left; }
    .show-ads .related-ads .card .key-words .last {
      position: absolute;
      right: 0%;
      color: #1c75bc;
      font-weight: bold;
      font-size: 15px;
      padding-right: 5px;
      padding-top: 3px !important; }

.my-profile form {
  margin-top: 0 !important; }
.my-profile h5 {
  text-align: left;
  margin-top: 60px;
  color: #1c75bc;
  font-weight: bold; }

.add-ads-add {
  margin-bottom: 80px; }
  .add-ads-add form {
    text-align: left;
    margin-top: 60px; }
    .add-ads-add form input,
    .add-ads-add form select,
    .add-ads-add form textarea {
      width: 100%;
      padding: 12px;
      margin-top: 10px;
      border: 1px solid #ddd; }
      .add-ads-add form input::placeholder,
      .add-ads-add form select::placeholder,
      .add-ads-add form textarea::placeholder {
        font-size: 13px; }
    .add-ads-add form select {
      background-color: transparent;
      padding: 5px !important;
      color: #444;
      font-size: 14px; }
    .add-ads-add form input[type="file"] {
      border: 0;
      margin-top: 0; }
    .add-ads-add form .add-pic {
      color: #1c75bc;
      margin-top: 20px;
      font-weight: bold; }
    .add-ads-add form button[type="submit"] {
      border: 1px solid #1c75bc;
      background-color: #1c75bc;
      color: #fff;
      padding: 8px;
      border-radius: 5px; }

.my-ads {
  text-align: left;
  margin-bottom: 150px; }
  .my-ads .card {
    border: 0;
    margin-top: 50px !important; }
    .my-ads .card .card-body {
      background-color: #f7f6fa;
      height: 100%;
      padding: 0 !important;
      position: relative; }
      .my-ads .card .card-body h5 {
        font-size: 18px;
        color: #44474b;
        padding: 20px; }
      .my-ads .card .card-body span {
        margin-right: 20px;
        font-size: 13px;
        color: #1c75bc;
        padding: 20px; }
        .my-ads .card .card-body span i {
          font-size: 12px;
          margin-right: 10px;
          color: #1c75bc; }
      .my-ads .card .card-body .controls {
        background-color: #efebf9;
        height: 60px;
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 60px;
        padding-left: 20px; }
        .my-ads .card .card-body .controls .button-controls {
          background-color: #1c75bc;
          border: 1px solid #1c75bc;
          color: #fff; }
        .my-ads .card .card-body .controls .price {
          position: absolute;
          right: 3%;
          top: 0%;
          line-height: 60px;
          font-size: 16px;
          color: #1c75bc; }

.edit-ads {
  text-align: left;
  margin-top: 70px;
  margin-bottom: 80px; }
  .edit-ads form input,
  .edit-ads form select {
    height: calc(2.5em + 0.75rem + 2px); }
  .edit-ads form label {
    color: #1c75bc;
    font-weight: bold; }
  .edit-ads form select {
    font-size: 14px; }
  .edit-ads form input {
    font-size: 14px; }
  .edit-ads form .file-upload label {
    margin-bottom: 0 !important; }
  .edit-ads form .img-from-file img {
    width: 20%; }
  .edit-ads form button {
    color: #fff;
    background-color: #1c75bc;
    border: 1px solid #1c75bc;
    padding: 10px; }

.my-inbox {
  text-align: left;
  margin-top: 60px;
  margin-bottom: 120px; }
  .my-inbox .card {
    margin-top: 20px; }
    .my-inbox .card .card-header {
      background-color: #1c75bc !important;
      color: #fff;
      font-size: 18px; }
    .my-inbox .card .card-body .card-title,
    .my-inbox .card .card-body .card-text {
      font-size: 15px; }
      .my-inbox .card .card-body .card-title i,
      .my-inbox .card .card-body .card-text i {
        margin-right: 5px;
        color: #1c75bc; }
    .my-inbox .card .card-body .btn-danger {
      font-size: 13px; }
      .my-inbox .card .card-body .btn-danger i {
        margin-right: 5px; }

.blacklist {
  text-align: left;
  margin-top: 90px;
  margin-bottom: 180px; }
  .blacklist h5 {
    color: #1c75bc;
    font-size: 25px; }
  .blacklist p {
    font-size: 15px; }
  .blacklist form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd; }
    .blacklist form input::placeholder {
      font-size: 14px; }
  .blacklist form button {
    margin-top: 15px;
    width: 120px;
    background-color: #1c75bc;
    border: 1px solid #1c75bc;
    color: #fff;
    padding: 10px; }

.who-us {
  margin-top: 80px;
  margin-bottom: 90px;
  text-align: left; }
  .who-us .who-header {
    color: #1c75bc;
    font-size: 25px;
    margin-bottom: 25px; }
  .who-us p {
    color: #777;
    line-height: 40px; }
    .who-us p .big-word {
      color: #1c75bc;
      font-size: 23px;
      font-weight: bold; }

footer {
  background-color: #1c75bc; }
  footer .logo-content-logo {
    padding-left: 10px; }
  footer .logo {
    padding-bottom: 10px;
    text-align: left;
    position: relative;
    color: #fff; }
    footer .logo .logo-content {
      text-align: left; }
      footer .logo .logo-content p {
        position: absolute;
        left: 10%;
        bottom: -1%;
        margin: 0; }
  footer .help-content {
    padding-left: 90px;
    padding-top: 10px; }
    footer .help-content ul {
      list-style-type: square; }
      footer .help-content ul li {
        margin-top: 5px; }
  footer .social-content {
    padding-left: 90px;
    padding-top: 10px; }
    footer .social-content .social i {
      display: inline-block;
      color: #fff;
      line-height: 30px;
      text-align: center;
      margin-left: 15px;
      transition: all 0.5s ease; }
      footer .social-content .social i:hover {
        color: #073670; }
    footer .social-content input {
      padding: 15px;
      background-color: #fff;
      border: 0;
      width: 80%;
      color: #444 !important;
      text-align: center; }
      footer .social-content input::placeholder {
        color: #444;
        opacity: 1;
        /* Firefox */ }
    footer .social-content button {
      border: 0 !important;
      border: 1px solid #073670;
      background-color: #073670;
      padding: 15px;
      width: 80%;
      margin-top: 10px;
      color: #fff;
      margin-bottom: 10px;
      transition: all 0.5s ease-in-out; }
      footer .social-content button:hover {
        background-color: #06162a; }
  footer .copy {
    background-color: #256caf;
    padding: 20px;
    position: relative; }
    footer .copy h5 {
      margin: 0;
      font-size: 15px;
      color: #fff;
      margin-top: 20px;
      float: left; }
    footer .copy .logo-funun {
      width: 50%;
      float: right; }
      footer .copy .logo-funun img {
        width: 20%; }

@media (max-width: 1024px) {
  .search-bar {
    top: -6% !important; }
    .search-bar form input,
    .search-bar form select {
      width: 22% !important;
      font-size: 15px; }

  .car-model .car-model-img img {
    width: 60px !important;
    height: 60px !important;
    margin: 3px !important; }

  .ads-now .key-words {
    position: inherit !important; }

  footer .social-content input {
    width: 80%; } }
@media (max-width: 800px) {
  .top-header .info span:last-child {
    padding: 0 !important; }
  .top-header .social {
    text-align: left !important;
    margin-top: 5px; }

  .login {
    padding: 0 !important; }
    .login ul {
      padding: 0 !important;
      padding-left: 0 !important; }

  .cards .card p {
    margin: 0 !important; }

  .car-model .car-model-img img {
    width: 13% !important;
    height: 86px !important;
    margin: 2px !important; }

  .ads-now .key-words {
    position: inherit !important; }

  footer .logo-content-logo {
    padding-left: 0px !important; }
  footer input {
    width: 80% !important; }
  footer .help-content,
  footer .social-content {
    padding-left: 0 !important; }
  footer .logo-funun {
    width: 65% !important;
    float: right; }
    footer .logo-funun img {
      width: 20%; }

  .my-ads .card .card-body .controls {
    position: inherit;
    margin-top: 10px;
    height: 90px; } }
@media (max-width: 524px) {
  .top-header .info span:last-child {
    padding: 0 !important; }
  .top-header .social {
    text-align: left !important;
    margin-top: 5px; }

  .login {
    padding: 0 !important; }
    .login ul {
      padding: 0 !important;
      padding-left: 0 !important; }

  .search-bar form .all-mark {
    top: 30.2%;
    margin-left: 4px;
    width: 6.5%; }
  .search-bar form .car-select {
    top: 46.2%;
    margin-left: 4px;
    width: 7.5%; }
  .search-bar form .place {
    top: 63.2%;
    margin-left: 4px;
    width: 7.5%; }
  .search-bar form input,
  .search-bar form select {
    width: 100% !important;
    margin-top: 5px;
    font-size: 15px; }
  .search-bar form button {
    width: 100% !important;
    margin-top: 5px;
    font-size: 15px; }

  .cards .card img {
    margin-top: 0 !important;
    margin-top: -10px !important; }
  .cards .card p {
    margin: 0 !important; }

  .car-model .car-model-img img {
    width: 17% !important;
    height: 61px !important;
    margin: 2px !important; }

  footer .help-content,
  footer .social-content {
    padding-left: 0 !important; }
  footer input {
    width: 80% !important; }
  footer .copy .logo-funun {
    width: 100% !important;
    text-align: left; }
    footer .copy .logo-funun img {
      width: 40% !important;
      margin-top: 15px; }

  .show-ads .ads-info .ads-header .price {
    float: left;
    width: 50% !important;
    margin-top: 10px; }

  .show-ads .ads-info .table-infor td {
    padding-left: 0 !important; }

  .show-ads .ads-info .add-comment .head-comment-add {
    width: 25% !important; }

  .my-ads .card .card-body h5 {
    padding-bottom: 5px !important; }

  .my-ads .card .card-body .controls {
    position: inherit;
    margin-top: 10px;
    height: 90px; }

  .my-ads .card .card-body .controls .price {
    position: absolute;
    right: 72%;
    top: 44%; } }
@media (max-width: 320px) {
  .show-ads .ads-info .table-infor td {
    padding-left: 0 !important; } }
