@import "https://fonts.googleapis.com/css2?family=Changa&display=swap";
$mainColor: #1c75bc;

body {
  direction: rtl;
  font-family: "Changa", sans-serif;
}

.clear {
  clear: both;
}

// start top header
.top-header {
  padding: 10px;
  .border-bottom {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .info {
    span:first-child {
      padding: 10px 0px 10px 10px;
      border-left: 1px solid #ddd;
    }
    span:last-child {
      padding: 10px 10px 10px 0px;
    }
    i {
      color: $mainColor;
      margin-left: 5px;
    }
  }
  .social {
    i {
      color: #555;
      margin-right: 5px;
      transition: all 0.5s ease;
      &:hover {
        color: $mainColor;
      }
    }
  }
}

// start upper nav
.upper-nav {
  padding: 5px;
  .logo {
    padding: 5px;
    span {
      font-weight: bold;
    }
  }
  .login {
    padding-top: 10px;
    ul {
      li {
        padding: 10px;
        display: inline-block;
        .btn-login {
          color: #444;
          i {
            font-size: 14px;
            color: $mainColor;
            margin-left: 5px;
          }
        }
        .btn-rigister {
          border: 2px solid $mainColor;
          color: $mainColor;
          i {
            font-size: 14px;
            color: $mainColor;
            margin-left: 5px;
          }
          &:hover {
            background-color: $mainColor;
            color: #fff;
            // bordeR: 2px solid #fff;
          }
        }
        .btn-add-ads {
          background-color: $mainColor;
          border: 1px solid $mainColor;
          color: #fff;
          &:hover {
            background-color: #fff;
            border: 2px solid $mainColor;
            color: $mainColor;
          }
        }
      }
      li:last-child {
        border-right: 1px solid #ddd;
      }
    }
    .lang{
      a{
        color: #000;
        text-decoration: none;
      }
    }
  }
}

// start header img
.header-img {
  margin-top: 50px;
  background-image: url("../images/header.jpg");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

// sytart search bar
.search-bar {
  position: absolute;
  top: -10%;
  width: 100%;
  form {
    background-color: $mainColor;
    padding: 20px;
    border-radius: 8px;
    img {
      position: absolute;
      top: 33.2%;
      margin-right: 5px;
      width: 2.5%;
    }
    input,
    select {
      width: 23% !important;
      padding: 12px;
      border: 0;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    select {
      background-color: #fff;
      color: #666 !important;
      padding: 5px !important;
      font-size: 15px;
      padding-right: 30px !important;
    }
    input:first-child {
      width: 30%;
    }
    button {
      margin-top: -3px;
      height: 43px;
      width: 55px;
    }
  }
}

// start ads slider
.ads {
  margin-top: 20px;
  .border-col {
    border: 1px solid #ddd;
    padding: 0;
  }
  .head {
    text-align: right;
    border: 1px solid #eee;
    background-color: #ddd;
    padding: 10px;
  }
  .card {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    img {
      transition: all 0.5s ease-in-out;
      &:hover {
        filter: grayscale(100%);
      }
    }
    .card-body {
      padding: 0 !important;
    }
    .card-title {
      margin: 0;
      padding: 10px 15px 0 0;
      margin-bottom: 5px;
      font-size: 17px;
      a {
        color: #000 !important;
        text-decoration: none;
        &:hover {
          color: $mainColor !important;
        }
      }
    }
    span {
      padding: 0 15px 0 0;
      font-size: 10px;
      color: #333;
      margin-left: 15px;
      i {
        margin-left: 4px;
      }
    }
    .name {
      padding: 0 15px 0 0;
      color: $mainColor;
    }
    .key-words {
      padding: 10px 15px 10px 0;
      margin-top: 10px;
      background-color: #ddd;
      span:first-child {
        padding-right: 0 !important;
        font-size: 15px;
      }
      .last {
        font-size: 15px;
        color: $mainColor;
        font-weight: bold;
        position: absolute;
        left: 2%;
      }
    }
  }
  .swiper-container {
    padding-bottom: 40px !important;
    .swiper-pagination {
      bottom: -40px !important;
      height: 60px;
    }
  }
}

// start cards
.cards {
  background-color: #f7f7f7;
  padding: 20px 20px 50px 20px;
  .card {
    margin-top: 10px;
    border: 1px solid #777;
    padding: 20px;
    height: 150px;
    transition: all 4s ease;
    text-decoration: none !important;
    img {
      width: 45%;
      margin: auto;
      color: #555;
      font-size: 30px;
      margin-top: 20px;
    }
    p {
      margin-top: 20px;
    }
    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      background-color: $mainColor;
      border: 1px solid $mainColor;
      p {
        color: #fff !important;
      }
    }
  }
}

// start ads now and car model
.ads-now-car-model {
  .ads-now {
    border: 1px solid #ddd;
    .head {
      text-align: right;
      border: 1px solid #eee;
      background-color: #ddd;
      padding: 10px;
    }
    .card {
      background-color: #f6f8fa;
      img {
        transition: all 0.5s ease;
        height: 100%;
        &:hover {
          filter: grayscale(100%);
        }
      }
      .card-title {
        font-size: 18px;
        padding: 20px 20px 0 0;
        color: #000 !important;
        a {
          color: #000 !important;
          text-decoration: none;
          &:hover {
            color: $mainColor !important;
          }
        }
      }
      span {
        display: inline-block;
        margin-left: 25px;
        padding: 20px 20px 0 0;
        color: #666;
        i {
          margin-left: 5px;
        }
      }
      .card-body {
        padding: 0;
        // padding-top: 20px !important;
      }
    }
    .name {
      color: $mainColor;
      padding: 5px 20px 0 0;
    }
    .key-words {
      background-color: #ddd;
      position: inherit;
      bottom: 0;
      width: 100%;
      padding: 10px !important;
      span {
        padding-top: 0 !important;
        margin: 0;
      }
      .last {
        position: absolute;
        left: 2%;
        color: $mainColor;
        font-weight: bold;
      }
    }
    .card-grow {
      .last {
        color: $mainColor;
        font-weight: bold;
      }
    }
    .btn-add-more {
      width: 100%;
      border: 1px solid #ddd;
      padding: 10px;
    }
  }
  .car-model {
    border: 1px solid #ddd;
    .head {
      text-align: right;
      border: 1px solid #eee;
      background-color: #ddd;
      padding: 10px;
    }
    .car-model-img {
      img {
        width: 70px;
        height: 70px;
        margin: 5px;
        border: 1px solid #ddd;
      }
    }
  }
  .ads-space {
    margin-top: 60px;
    background-color: #ddd;
    height: 350px;
    position: relative;
    h6 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.ads-and-search {
  .ads-now {
    .card {
      img {
        height: 100% !important;
      }
    }
  }
}

// account page
.path {
  text-align: right;
  background-color: #ddd;
  padding: 20px;
  span {
    &::before {
      font-family: "Font Awesome 5 Free";
      // position: absolute;
      margin-left: 6px;
      margin-right: 6px;
      content: "\f104";
      font-weight: 900;
      font-size: 13px;
    }
  }
  .first {
    &::before {
      content: "" !important;
    }
  }
  a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    &:hover {
      color: $mainColor;
    }
  }
  i {
    font-size: 13px;
  }
}

.login-rigister {
  form {
    .form-input {
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      border: 0;
      border: 1px solid #ddd;
    }
    .remember {
      display: block;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .btn {
      color: #fff;
    }
    .btn-login {
      background-color: $mainColor;
      border: 1px solid $mainColor;
    }
    .btn-rigister {
      background-color: #ecb000;
      border: 1px solid #ecb000;
    }
  }
}

// contact page
// start conatct page
.contact {
  .contact-info {
    i {
      border: 1px solid #000;
      padding: 10px;
      background-color: #ecb000;
      border: 1px solid #ecb000;
      color: #fff;
      border-radius: 5px;
    }
    span {
      font-weight: bold;
    }
  }
  .contact-form {
    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      border: 1px solid #ddd;
    }
    textarea {
      width: 100% !important;
      border-radius: 5px;
      border: none;
      border: 1px solid #ddd;
      padding: 10px;
    }
    button {
      background-color: $mainColor;
      border: 1px solid $mainColor;
    }
  }
}

#btnclose {
  background-color: #ddd;
  width: 100% !important;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

// search page
.search {
  border: 1px solid #ddd;
  h6 {
    border: 1px solid #eee;
    background-color: #ddd;
    padding: 10px;
  }
  form {
    padding: 10px;
  }
  input {
    border-radius: 5px;
    border: 0;
    border: 1px solid #ddd;
    padding: 7px;
  }
  .search-all {
    width: 100%;
    margin-bottom: 5px;
  }
  .country,
  .city {
    width: 50%;
    float: right;
    select {
      width: 90%;
      border: 0;
      background-color: transparent;
      border: 1px solid #ddd;
      padding: 7px;
      border-radius: 5px;
    }
  }
  .price {
    input {
      width: 45%;
      margin: 4px;
      float: right;
    }
  }
  .btn {
    background-color: #51b224;
    border: 1px solid #51b224;
    width: 100%;
    color: #fff;
    font-size: 18px;
    transition: all 0.5s linear;
    &:hover {
      background-color: $mainColor;
      border: 1px solid $mainColor;
    }
  }
}

.ads-now {
  border: 1px solid #ddd;
  .head {
    text-align: right;
    border: 1px solid #eee;
    background-color: #ddd;
    padding: 10px;
  }
  .card {
    background-color: #f6f8fa;
    img {
      transition: all 0.5s ease;
      &:hover {
        filter: grayscale(100%);
      }
    }
    .card-title {
      font-size: 18px;
      padding: 5px 15px 0 0 !important;
      a {
        color: #000 !important;
        text-decoration: none;
        &:hover {
          color: $mainColor !important;
        }
      }
    }
    span {
      display: inline-block;
      margin-left: 25px;
      padding: 10px 20px 0 0 !important;
      color: #666;
      i {
        margin-left: 5px;
      }
    }
    .card-body {
      padding: 0;
    }
  }
  .name {
    color: $mainColor;
    padding: 5px 20px 0 0;
  }
  .key-words {
    background-color: #ddd;
    position: inherit;
    bottom: 0;
    width: 100%;
    padding: 10px !important;
    span {
      padding-top: 0 !important;
      margin: 0;
    }
    .last {
      position: absolute;
      left: 2%;
      color: $mainColor;
      font-weight: bold;
    }
  }
  .card-grow {
    .last {
      color: $mainColor;
      font-weight: bold;
    }
  }
  .btn-add-more {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    transition: all 0.5s ease;
    &:hover {
      background-color: #ecb000;
      border: 1px solid #ecb000;
      color: #fff;
    }
  }
}

// start show ads
.show-ads {
  .arrow-left-h6 {
    &:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f0d9";
      color: #2b79c3;
      font-size: 25px;
    }
  }
  .ads-info {
    .swiper-container {
      width: 100%;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      .special-ads {
        z-index: 3;
        display: inline-block;
        position: absolute;
        background-color: #68bb2b;
        border: 1px solid #68bb2b;
        width: 15%;
        padding: 10px !important;
        text-align: center;
        border-radius: 10px;
        color: #fff;
        left: 3%;
        top: 2%;
      }
    }
    .swiper-slider {
      .swiper-slide {
        background-size: cover;
        background-position: center;
      }
      .gallery-top {
        height: 80%;
        width: 100%;
      }
      .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
      }
      .gallery-thumbs .swiper-slide {
        height: 100%;
        opacity: 0.4;
      }
      .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
      }
      .swiper-wrapper {
        .image-top {
          height: 70vh;
        }
      }
      .swiper-wrapper {
        .image-down {
          height: 20vh;
        }
      }
    }
    .ads-header {
      .header {
        margin-top: 15px;
        font-size: 20px;
        float: right;
      }
      .price {
        color: #fff;
        padding: 10px;
        width: 20%;
        text-align: center;
        font-size: 20px;
        float: left;
        border: 1px solid #ecb000;
        background-color: #ecb000;
      }
    }
    .table-infor {
      .table-head {
        color: $mainColor;
      }
      .table {
        margin-bottom: 0 !important;
      }
      margin-top: -10px !important;
      border: 1px solid #ddd;
      td {
        padding-right: 40px !important;
        .question {
          font-size: 15px;
        }
        .answer {
          color: #888;
          font-size: 14px;
        }
      }
      h6 {
        font-size: 25px;
        padding-right: 20px;
        padding-top: 10px;
        color: $mainColor;
        margin: 10px 0px 20px 0px;
        i {
          color: $mainColor;
          font-size: 25px;
        }
      }
      .table-word {
        margin: 0 !important;
        padding: 0 !important;
      }
    }
    .descr {
      border: 1px solid #ddd;
      h6 {
        font-size: 25px;
        color: $mainColor;
        padding-right: 20px;
        padding-top: 10px;
        margin: 10px 0px 20px 0px;
        i {
          color: $mainColor;
          font-size: 25px;
        }
      }
      .desr-par {
        line-height: 25px;
        color: #444;
      }
    }
    .contact-data {
      border: 1px solid #ddd;
      h6 {
        font-size: 25px;
        color: $mainColor;
        padding-right: 20px;
        padding-top: 10px;
        margin: 10px 0px 20px 0px;
        i {
          color: $mainColor;
          font-size: 25px;
        }
      }
      ul {
        padding: 0;
        padding-right: 20px;
        li {
          display: inline-block;
          margin-left: 20px;
          i {
            font-size: 20px;
            margin-left: 10px;
            color: #444;
          }
          span {
            font-size: 20px;
            color: #444;
          }
        }
      }
    }
    .social-media {
      text-align: center;
      border-bottom: 1px solid #ddd;
      padding-bottom: 20px;
      span {
        margin-top: 35px;
        display: inline-block;
        width: 15%;
        i {
          color: #888;
          font-size: 30px;
          &:hover {
            color: $mainColor;
          }
        }
      }
    }
    .comments {
      h6 {
        font-size: 25px;
        padding-right: 20px;
        color: $mainColor;
        padding-top: 10px;
        margin: 10px 0px 20px 0px;
        position: relative;
        i {
          color: $mainColor;
          font-size: 25px;
        }
      }
      .on-comment {
        border: 1px solid #eee;
        position: relative;
        padding: 15px;
        padding-right: 15px;
        padding-bottom: 2px !important;
        .com-name {
          font-size: 15px;
          font-weight: bold;
        }
        .com-word {
          font-size: 14px;
          color: #888;
        }
        .time {
          position: absolute;
          top: 10%;
          left: 1%;
          font-size: 10px;
          color: #444;
        }
      }
    }
    .add-comment {
      position: relative;
      margin-top: 40px;
      padding-top: 30px;
      margin-bottom: 20px;
      &::before {
        position: absolute;
        content: "";
        top: -1%;
        // z-index: -1;
        width: 100%;
        height: 2px;
        background-color: #eee;
      }
      .head-comment-add {
        color: #1c75bc;
        width: 15%;
        // z-index: 2 !important;
        background-color: #fff;
        border: 1px solid #fff;
        position: absolute;
        top: -5%;
        left: 45%;
        text-align: center;
        font-size: 15px;
      }
      form {
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #eee;
          &::placeholder {
            font-size: 13px;
          }
        }
        textarea {
          width: 100%;
          padding: 10px;
          margin-top: 10px;
          border: 1px solid #eee;
          &::placeholder {
            font-size: 13px;
          }
        }
        button {
          border: 1px solid #ecb000;
          background-color: #ecb000;
          color: #fff;
          padding: 10px;
        }
      }
    }
  }
  .related-ads {
    .related-d-h6-before{
      &::before{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f0d9";
        color: #2b79c3;
        font-size: 25px;
      }
    }
    h6 {
      margin-top: 15px;
      font-size: 25px;
      color: $mainColor;
      i {
        color: $mainColor;
        font-size: 25px;
      }
    }
    .card {
      background-color: #f6f8fa;
      img {
        transition: all 0.5s ease;
        &:hover {
          filter: grayscale(100%);
        }
      }
      .card-title {
        font-size: 18px;
        padding: 20px 20px 0 0;
        a {
          color: #000 !important;
          text-decoration: none;
          &:hover {
            color: $mainColor !important;
          }
        }
      }
      span {
        display: inline-block;
        margin-left: 15px;
        padding: 0px 20px 10px 0;
        color: #666;
        font-size: 14px;
        i {
          margin-left: 5px;
        }
      }
      .card-body {
        padding: 0;
      }
      .key-words {
        background-color: #ddd;
        position: inherit;
        bottom: 0;
        width: 100%;
        padding: 10px !important;
        span {
          padding-top: 0 !important;
          margin: 0;
          // position: absolute;
          // right: 0;
          padding-right: 0 !important;
          font-size: 12px;
          text-align: right;
        }
        .last {
          position: absolute;
          left: 0%;
          color: $mainColor;
          font-weight: bold;
          font-size: 15px;
          padding-left: 5px;
          padding-top: 3px !important;
        }
      }
    }
  }
}

// start anouther pages
.my-profile {
  form {
    margin-top: 0 !important;
  }
  h5 {
    text-align: right;
    margin-top: 60px;
    color: $mainColor;
    font-weight: bold;
  }
}

.add-ads-add {
  margin-bottom: 80px;
  form {
    text-align: right;
    margin-top: 60px;
    input,
    select,
    textarea {
      width: 100%;
      padding: 12px;
      margin-top: 10px;
      border: 1px solid #ddd;
      &::placeholder {
        font-size: 13px;
      }
    }
    select {
      background-color: transparent;
      padding: 5px !important;
      color: #444;
      font-size: 14px;
    }
    input[type="file"] {
      border: 0;
      margin-top: 0;
    }
    .add-pic {
      color: $mainColor;
      margin-top: 20px;
      font-weight: bold;
    }
    button[type="submit"] {
      border: 1px solid $mainColor;
      background-color: $mainColor;
      color: #fff;
      padding: 8px;
      border-radius: 5px;
    }
  }
}

// start my-ads
.my-ads {
  text-align: right;
  margin-bottom: 150px;
  .card {
    border: 0;
    margin-top: 50px !important;
    .card-body {
      background-color: #f7f6fa;
      height: 100%;
      padding: 0 !important;
      position: relative;
      h5 {
        font-size: 18px;
        color: #44474b;
        padding: 20px;
      }
      span {
        margin-left: 20px;
        font-size: 13px;
        color: $mainColor;
        padding: 20px;
        i {
          font-size: 12px;
          margin-left: 10px;
          color: $mainColor;
        }
      }
      .controls {
        background-color: #efebf9;
        height: 60px;
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 60px;
        padding-right: 20px;
        .button-controls {
          background-color: $mainColor;
          border: 1px solid $mainColor;
          color: #fff;
        }
        .price {
          position: absolute;
          left: 3%;
          top: 0%;
          line-height: 60px;
          font-size: 16px;
          color: $mainColor;
        }
      }
    }
  }
}

// start edit ads
.edit-ads {
  text-align: right;
  margin-top: 70px;
  margin-bottom: 80px;
  form {
    input,
    select {
      height: calc(2.5em + 0.75rem + 2px);
    }
    label {
      color: $mainColor;
      font-weight: bold;
    }
    select {
      font-size: 14px;
    }
    input {
      font-size: 14px;
    }
    .file-upload {
      label {
        margin-bottom: 0 !important;
      }
    }
    .img-from-file {
      img {
        width: 20%;
      }
    }
    button {
      color: #fff;
      background-color: $mainColor;
      border: 1px solid $mainColor;
      padding: 10px;
    }
  }
}

// start my-inbox
.my-inbox {
  text-align: right;
  margin-top: 60px;
  margin-bottom: 120px;
  .card {
    margin-top: 20px;
    .card-header {
      background-color: $mainColor !important;
      color: #fff;
      font-size: 18px;
    }
    .card-body {
      .card-title,
      .card-text {
        font-size: 15px;
        i {
          margin-left: 5px;
          color: $mainColor;
        }
      }
      .btn-danger {
        font-size: 13px;
        i {
          margin-left: 5px;
        }
      }
    }
  }
}

// start blacklist
.blacklist {
  text-align: right;
  margin-top: 90px;
  margin-bottom: 180px;
  h5 {
    color: $mainColor;
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
  form {
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      &::placeholder {
        font-size: 14px;
      }
    }
    button {
      margin-top: 15px;
      width: 120px;
      background-color: $mainColor;
      border: 1px solid $mainColor;
      color: #fff;
      padding: 10px;
    }
  }
}

// start who-us
.who-us {
  margin-top: 80px;
  margin-bottom: 90px;
  text-align: right;
  .who-header {
    color: $mainColor;
    font-size: 25px;
    margin-bottom: 25px;
  }
  p {
    color: #777;
    .big-word {
      color: $mainColor;
      font-size: 23px;
      font-weight: bold;
    }
    line-height: 40px;
  }
}

// satrt footer
footer {
  background-color: $mainColor;
  .logo-content-logo {
    padding-right: 10px;
  }
  .logo {
    padding-bottom: 10px;
    text-align: right;
    position: relative;
    color: #fff;
    .logo-content {
      text-align: right;
      p {
        position: absolute;
        right: 10%;
        bottom: -1%;
        margin: 0;
      }
    }
  }
  .help-content {
    padding-right: 90px;
    padding-top: 10px;
    ul {
      list-style-type: square;
      li {
        margin-top: 5px;
      }
    }
  }
  .social-content {
    padding-right: 90px;
    padding-top: 10px;
    .social {
      i {
        display: inline-block;
        color: #fff;
        line-height: 30px;
        text-align: center;
        margin-right: 15px;
        transition: all 0.5s ease;
        &:hover {
          color: #073670;
        }
      }
    }
    input {
      padding: 15px;
      background-color: #fff;
      border: 0;
      width: 80%;
      color: #444 !important;
      text-align: center;
      &::placeholder {
        color: #444;
        opacity: 1; /* Firefox */
      }
    }
    button {
      border: 0 !important;
      border: 1px solid #073670;
      background-color: #073670;
      padding: 15px;
      width: 80%;
      margin-top: 10px;
      color: #fff;
      margin-bottom: 10px;
      transition: all 0.5s ease-in-out;
      &:hover {
        background-color: #06162a;
      }
    }
  }
  .copy {
    background-color: #256caf;
    padding: 20px;
    position: relative;
    h5 {
      margin: 0;
      font-size: 15px;
      color: #fff;
      margin-top: 20px;
      float: right;
    }
    .logo-funun {
      width: 50%;
      float: left;
      img {
        width: 20%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .search-bar {
    top: -6% !important;
    form {
      input,
      select {
        width: 22% !important;
        font-size: 15px;
      }
    }
  }
  .car-model {
    .car-model-img {
      img {
        width: 60px !important;
        height: 60px !important;
        margin: 3px !important;
      }
    }
  }

  .ads-now {
    .key-words {
      position: inherit !important;
    }
  }

  footer {
    .social-content {
      input {
        width: 80%;
      }
    }
  }
}

@media (max-width: 800px) {
  .top-header {
    .info span:last-child {
      padding: 0 !important;
    }
    .social {
      text-align: right !important;
      margin-top: 5px;
    }
  }
  .login {
    padding: 0 !important;
    ul {
      padding: 0 !important;
      padding-right: 0 !important;
    }
  }
  .cards {
    .card {
      p {
        margin: 0 !important;
      }
    }
  }
  .car-model {
    .car-model-img {
      img {
        width: 13% !important;
        height: 86px !important;
        margin: 2px !important;
      }
    }
  }

  .ads-now {
    .key-words {
      position: inherit !important;
    }
  }

  footer {
    .logo-content-logo {
      padding-right: 0px !important;
    }
    input {
      width: 80% !important;
    }
    .help-content,
    .social-content {
      padding-right: 0 !important;
    }
    .logo-funun {
      width: 65% !important;
      float: left;
      img {
        width: 20%;
      }
    }
  }
  .my-ads .card .card-body .controls {
    position: inherit;
    margin-top: 10px;
    height: 90px;
  }
}

@media (max-width: 524px) {
  .top-header {
    .info span:last-child {
      padding: 0 !important;
    }
    .social {
      text-align: right !important;
      margin-top: 5px;
    }
  }
  .login {
    padding: 0 !important;
    ul {
      padding: 0 !important;
      padding-right: 0 !important;
    }
  }
  .search-bar {
    form {
      .all-mark {
        top: 30.2%;
        margin-right: 4px;
        width: 6.5%;
      }
      .car-select {
        top: 46.2%;
        margin-right: 4px;
        width: 7.5%;
      }
      .place {
        top: 63.2%;
        margin-right: 4px;
        width: 7.5%;
      }
      input,
      select {
        width: 100% !important;
        margin-top: 5px;
        font-size: 15px;
      }
      button {
        width: 100% !important;
        margin-top: 5px;
        font-size: 15px;
      }
    }
  }
  .cards {
    .card {
      img {
        margin-top: 0 !important;
        margin-top: -10px !important;
      }
      p {
        margin: 0 !important;
      }
    }
  }
  .car-model {
    .car-model-img {
      img {
        width: 17% !important;
        height: 61px !important;
        margin: 2px !important;
      }
    }
  }

  footer {
    .help-content,
    .social-content {
      padding-right: 0 !important;
    }

    input {
      width: 80% !important;
    }
    .copy {
      .logo-funun {
        width: 100% !important;
        text-align: right;
        img {
          width: 40% !important;
          margin-top: 15px;
        }
      }
    }
  }
  .show-ads .ads-info .ads-header .price {
    float: right;
    width: 50% !important;
    margin-top: 10px;
  }
  .show-ads .ads-info .table-infor td {
    padding-right: 0 !important;
  }
  .show-ads .ads-info .add-comment .head-comment-add {
    width: 25% !important;
  }
  .my-ads .card .card-body h5 {
    padding-bottom: 5px !important;
  }
  .my-ads .card .card-body .controls {
    position: inherit;
    margin-top: 10px;
    height: 90px;
  }
  .my-ads .card .card-body .controls .price {
    position: absolute;
    left: 72%;
    top: 44%;
  }
}

@media (max-width: 320px) {
  .show-ads .ads-info .table-infor td {
    padding-right: 0 !important;
  }
}
